@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  transition: 300ms background-color ease;
}

@theme {
  --font-title: "Montserrat", serif;
  --font-subtitle: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

:root {
  --color-background: #ffffff;
  --color-background-secondary: #f0f0f0;
  --color-text: #111827;
  --color-text-secondary: #364153;

  --button-background-color: #313131;
  --button-background-color-hover: #494949;
  --button-border-color: #4b4b4b;
  --button-border-color-hover: #636363;
  --button-text-color: #ffffff;
  --button-text-color-secondary: #cecece;

  --navbar-border-color: #e5e7eb;

  --border-color: #374151;

  --footer-background-color: #212121;
  --footer-text-color: #eeeeee;
}

.dark {
  --color-background: #212121;
  --color-background-secondary: #303030;
  --color-text: #f9fafb;
  --color-text-secondary: #d1d1d1;

  --button-background-color: #f3f4f6;
  --button-background-color-hover: #c8c8c8;
  --button-border-color: #eeeeee;
  --button-text-color: #111827;
  --button-text-color-secondary: #262a33;
  

  --navbar-border-color: #374151;

  --border-color: #e5e7eb;

  --footer-background-color: #ffffff;
  --footer-text-color: #212121;
}
